.color {
    background: #545fab;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocA {
    height: 150px;
}


.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrap {
    display: flex;
    width: 100%;
}
.wrap-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.blocB {
    margin: 5px 5px 0px 0px;
    height: 247px;
    width:95%;
}
.H {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.blocH {
    margin-top:5px;
    height: 500px;
    width: 100%;
}