.target {
    margin: 10px;
    width: 350px;
    height:100px;
    background: #e6f7b1;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    border: 2px solid black;
}
.wrap {
    display: flex;

}
.box {
    width: 100px;
    height:220px;
    background: #ffb8ff;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 80px;
    border: 2px solid black;
}
.posts {
    display: flex;
    flex-direction: column;
}
.post {
    width: 230px;
    height:100px;
    background: #a0e2ff;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    border: 2px solid black;
}

.footer {
    width: 350px;
    height:100px;
    background: #3d6bdc;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    border: 2px solid black;

}
