.a {
    height: 200px;
    width: 1100px;
    align-items: center;
    margin-bottom: 10px;
}
.bg-base{
    background:silver;
}
.flex{
    display: flex;
}
.cen{
    justify-content: center;
}
.color{
    color:black;
}
.size{
    font-size: 40px;
}

.wrap {
    background: white;
    height:500px;
    width: 900px;
    flex-wrap: wrap;
}
.b {
    height: 250px;
    width: 900px;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 25px;
}
.target{
    background: #881d6f;
    height: 250px;
    width: 280px;
    color:black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.f {
    height: 510px;
    width: 200px;
    box-sizing: border-box;
    padding-top: 200px;
}